extends layout.pug

block head
	include front/head.pug
	title Tyler Willis | Programmer, Computer Scientist
	meta(name='description', content="Hi, I'm Tyler, a programmer and computer scientist currently located outside of Washington, D.C specializing in JavaScript and PHP.")
	meta(property='og:locale', content='en_US')
	meta(property='og:type', content='website')
	meta(property='og:title', content="Tyler Willis | Programmer, Computer Scientist")
	meta(property='og:description', content="Hi, I'm Tyler, a programmer and computer scientist currently located outside of Washington, D.C. specializing in JavaScript and PHP.")
	meta(property='og:image', content="/static/media/social-media.png")

	style.
		header {display: none;}

block content
	.page.page-home
		.home-header
			a.header-logo(href='/')
				img(src='/static/media/logo.png')
				p Tyler Willis
			.desktop-nav
				a(href='#about') About
				a(href='#skills') Skills
				a(href='#pages') Pages
				a(href='#products') Products
				a(href='#contact') Contact


		//-----------------------------------------------------
		//- Headline
		//-----------------------------------------------------

		.home-top
			h1 A great product is one that
				span helps
				| a lot of 
				span people
				| get
				span more
				| out of
				span life
				| .


		//-----------------------------------------------------
		//- About
		//-----------------------------------------------------

		.about#about
			p
				| Hi, I'm Tyler. When I'm not biking
				span 🚴‍,
				| playing the guitar
				span 🎸,
				| or building legos with my kids
				span 👦👧👦👶,
				| I'm usually typing up lines of code on my MacBook
				span 💻
				| . Even though I received my Bachelor's Degree in Marketing, I started out my career in operations and spent 6 years in operations management for Pepsi and Peapod. Not inspired, I shifted focus to web development, learned to code and have spent the past 4 years as the lead website developer for a local marketing agency.
			p
				| On the side, I've been honing my development skills with projects and product ideas. I've launched 9 products to-date on
				a(href='https://www.producthunt.com/@tylerewillis', target='_blank') Product Hunt
					i.fab.fa-product-hunt
				| and have experimented with hundreds of smaller projects both on my site and the sites of clients that I've had the privilege to create and support. The topics of focus have included SEO, sports, font icons, and business consulting.
			p
				| Right now, I'm dedicating all possible time to transforming myself from a self-taught coder into a senior level programmer and computer scientist.
				span 💯
		

		//-----------------------------------------------------
		//- Skills
		//-----------------------------------------------------

		.skills.section#skills
			h2 Skills
			p.sub-header Skills based on experience level and time accrued via client work and personal projects
			.skills-container
				.sc-inner
					.sc-back
						.scb-vertical
							line
							line
							line
							line
						.scb-horizontal
							line
							line
							line
					.sc-front
						.sc-bars
							span.s-bar.s-bar-zero(style='height: 95%')
							span.s-bar.s-bar-zero(style='height: 85%')
							span.s-bar.s-bar-zero(style='height: 75%')
							span.s-bar.s-bar-zero(style='height: 75%')
							span.s-bar.s-bar-zero(style='height: 70%')
							span.s-bar.s-bar-zero(style='height: 65%')
							span.s-bar.s-bar-zero(style='height: 40%')
							span.s-bar.s-bar-zero(style='height: 30%')

				//-
				.sc-bottom
					.skill(data-start='01 Jan 2014')
						span.s-label JavaScript
						span.s-time
					.skill(data-start='01 June 2014')
						span.s-label PHP
						span.s-time
					.skill(data-start='01 June 2014')
						span.s-label MySQL
						span.s-time
					.skill(data-start='01 Dec 2014')
						span.s-label Node.JS
						span.s-time
					.skill(data-start='01 Feb 2015')
						span.s-label Git
						span.s-time
					.skill(data-start='01 Nov 2015')
						span.s-label SCSS
						span.s-time
					.skill(data-start='01 Dec 2016')
						span.s-label React.JS
						span.s-time
					.skill(data-start='01 Jun 2018')
						span.s-label Swift
						span.s-time


		//-----------------------------------------------------
		//- Pages
		//-----------------------------------------------------

		.pages.section#pages
			h2 Pages
			p.sub-header Computer science, programming and code examples, blog posts, and small projects.
			each page in pages
				.post
					h3
						if page.category == 'Code Examples'
							.page-icon.page-icon-code
								i.fas.fa-laptop-code
						else if page.category == 'Projects'
							.page-icon.page-icon-projects
								i.fas.fa-rocket
						else if page.category == 'Personal'
							.page-icon.page-icon-personal
								i.fas.fa-hiking
						| #{page.header}
					p #{page.description}
					a(href=`${page.url}`) View
						i.fas.fa-chevron-right
			a(href='/pages' class='post-all')
				span See All
		

		//-----------------------------------------------------
		//- Products
		//-----------------------------------------------------

		.pages.section#products
			h2 Products
			p.sub-header Fun products, experimentations and other MVPs
			each product in products
				.post
					h3 #{product.header}
					p #{product.description}
					a(href=`${product.url}`) View
						i.fas.fa-chevron-right
			a(href='/products' class='post-all')
				span See All