extends layout.pug

block head
	include front/head.pug
	title Computer Science and Code Examples Written in JavaScript and PHP | Tyler Willis
	meta(name='description', content=`Contained are various code examples and small projects related to computer science, JavaScript and PHP.`)
	meta(property='og:locale', content='en_US')
	meta(property='og:type', content='website')
	meta(property='og:url', content='/pages')
	meta(property='og:title', content=`Computer Science and Code Examples Written in JavaScript and PHP | Tyler Willis`)
	meta(property='og:description', content=`Contained are various code examples and small projects related to computer science, JavaScript and PHP.`)
	meta(property='og:image', content=`/static/media/social-media.png`)

block content
	.page.page-pages
		h1 Pages
		p.sub-header Computer science, programming and code examples, blog posts, and small projects.

		//- Search
		.pages-search-container
			if init
				input.pages-search.pages-search-init(type='text', placeholder='Search', value=`${init}`)
			else
				input.pages-search(type='text', placeholder='Search')
			p

		//- Listing of pages	
		.pages-container

			//-
			each page in pages
				.page-single
					if page.category == 'Code Examples'
						.page-icon.page-icon-code
							i.fas.fa-laptop-code
					else if page.category == 'Projects'
						.page-icon.page-icon-projects
							i.fas.fa-rocket
					else if page.category == 'Personal'
						.page-icon.page-icon-personal
							i.fas.fa-hiking
					.page-details
						h2 #{page.header}
						p #{page.description}

						//- Keywords
						if page.keywords
							.pd-keywords
								each keyword in page.keywords
									a(href=`/pages/${keyword}`) ##{keyword}

						a(href=`/page/${page.url}`) View
							i.fas.fa-chevron-right

			//- No results
			p.pages-search-no-results

		//- Keywords
		.pages-keywords
			each keyword in keywords
				a(href=`/pages/${keyword}`) ##{keyword}
		