extends ../layout.pug

block head
	include head.pug
	title
	meta(name='description', content='')
	meta(property='og:locale', content='en_US')
	meta(property='og:type', content='website')
	meta(property='og:title', content='')
	meta(property='og:description', content='')
	meta(property='og:image', content='')

block content
	.page

		//- Cards
		.cards(data-items=`${cards.length}`)

			//- Each card
			each card in cards
				if (card.id == cards[0].id)
					.card.active(data-id=`${card.id}` data-answer=`${card.answer}` data-flipped=0)
						.nav.bar
							i.fas.fa-long-arrow-alt-left.previous
							i.fas.fa-random.random
							i.fas.fa-long-arrow-alt-right.next
						.question.section
							p.text= card.question
						.answer.section
							p.text ?
						.response.bar
							i.fas.fa-check
							p.index= card.id
							i.fas.fa-redo-alt.turn
				else
					.card(data-id=`${card.id}` data-answer=`${card.answer}` data-flipped=0)
						.nav.bar
							i.fas.fa-long-arrow-alt-left.previous
							i.fas.fa-random.random
							i.fas.fa-long-arrow-alt-right.next
						.question.section
							p.text= card.question
						.answer.section
							p.text ?
						.response.bar
							i.fas.fa-check
							p.index= card.id
							i.fas.fa-redo-alt.turn