extends ../layout.pug

block head
	include ../front/head.pug
	title= post[0].title
	meta(name='description', content=`${post[0].description}`)
	meta(property='og:locale', content='en_US')
	meta(property='og:type', content='website')
	meta(property='og:title', content=`${post[0].title}`)
	meta(property='og:description', content=`${post[0].description}`)
	meta(property='og:image', content=`${image}`)

block content
	.page.page-post
		.post-container.global-width
			h1 #{post[0].title}
			p.post-date #{date.toLocaleDateString()}
			p!= post[0].content